creds/creds.json
__pycache__/
cache/
test/
venv/
telethon.session
telethon.session-journal
/telbot/uploader.session
/telbot/uploader.session-journal
/telbot/MTPROTO.session
/telbot/MTPROTO.session-journal
/.idea/dataSources.xml
/.venv